#------------------------------------------------------------------------------
#
#  Kernel configuration file for RTAI sample.
#
#  $Id$
#
#  This file is a versioned template configuration. Copy it to "kernel.conf"
#  (which is ignored by Subversion) and adjust it to your needs.
#
#------------------------------------------------------------------------------

KERNELDIR = /lib/modules/`uname -r`/build
