#------------------------------------------------------------------------------
#
#  EtherCAT configuration file
#
#  $Id$
#
#  This file is a versioned template configuration. Copy it to "ethercat.conf"
#  (which is ignored by Subversion) and adjust it to your needs.
#
#------------------------------------------------------------------------------

# The kernel to compile the EtherCAT sources against
KERNEL := `uname -r`

# PCI index of the EtherCAT device
DEVICEINDEX := 99

#------------------------------------------------------------------------------
