#------------------------------------------------------------------------------
#
#  EtherCAT Konfigurationsdatei Kernel 2.6
#
#  $Id$
#
#  This file is a versioned template configuration. Copy it to "ethercat.conf"
#  (which is ignored by Subversion) and adjust it to your needs.
#
#------------------------------------------------------------------------------

KERNELDIR = /usr/src/linux

