#------------------------------------------------------------------------------
#
#  Kernel configuration file for EtherCAT mini sample
#
#  $Id$
#
#  This file is a versioned template configuration. Copy it to "kernel.conf"
#  (which is ignored by Subversion) and adjust it to your needs.
#
#------------------------------------------------------------------------------

KERNELDIR := /lib/modules/$(shell uname -r)/build
