#------------------------------------------------------------------------------
#
#  Configuration file for msr realtime modules
#
#  $Id$
#
#  This file is a versioned template configuration. Copy it to "rt.conf"
#  (which is ignored by Subversion) and adjust it to your needs.
#
#------------------------------------------------------------------------------

# Module name (without extension)
MODULENAME := ec_rt_sample

# The kernel to compile the EtherCAT sources against
KERNEL := `uname -r`

#------------------------------------------------------------------------------
