#------------------------------------------------------------------------------
#
#  Configuration file for MSR realtime modules
#
#  $Id$
#
#  This file is a versioned template configuration. Copy it to "kernel.conf"
#  (which is ignored by Subversion) and adjust it to your needs.
#
#------------------------------------------------------------------------------

# Kernel sources for module compilation
KERNEL := $(shell uname -r)

#------------------------------------------------------------------------------
